@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #040b48;
  --navbar-height: 80px;
  scroll-behavior: smooth;
  scroll-padding-top: var(--navbar-height);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), "Helvetica Neue", Arial, sans-serif;
}
